body {
    background-color: black;
    color: white;
    text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 1rem;
  justify-items: center;
  padding: 1rem;
}

.movie {
  width: 140px;
  text-align: center;
}

.movie_poster {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie_title {
  width: 100%;
  margin-top: 0.5rem;
  font-size: small;
}

.movie_poster:hover {
    transform: scale(1.05);
}
